.modal-header {
  border-bottom: 0 none !important;
}

.modal-footer {
  border-top: 0 none !important;
  justify-content: flex-start !important;
  flex-direction: column !important;
  padding-top: 0px !important;
}

.body-modal h1 {
  box-shadow: none !important;
}

.modal-body {
  padding-bottom: 0px !important;
}

/*.modal-dialog {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    width: 300px;*/
/*}*/

.drag_and_drop_input_service_sample {
  border: 2px dashed #aeaeae;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.file-input-service-sample {
  background-color: transparent;
  color: transparent;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.drag_and_drop_input_service_sample label {
  position: absolute;
  width: 100%;
  height: 100%;
}

.drag_and_drop_input_service_sample label {
  cursor: pointer;
}
.drag_and_drop_input_service_sample h5 {
  word-break: break-all;
}

.dandd_input_choose {
  background-color: #939393;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
}

.modal-footer h5 {
  margin-right: 225px;
}

.share_modal_head {
  color: black;
  font-size: 25;
  font-weight: 500;
}

.share_modal_title {
  color: black;
  font-size: 25;
  font-weight: 600;
}

.share_modal_body {
  padding: 5px 20px;
}

.share_modal_body_setpassword {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.share_modal_body_setpassword_inside {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.share_modal_body_setpassword_inside i:hover {
  cursor: pointer;
}
.share_modal_body_setpassword_inside h4 {
  margin-bottom: 0 !important;
}
.share_modal_body_setpassword_inside_password {
  width: 150px;
}
.share_modal_body_setpassword_inside_date {
  width: 30px;
  border: none;
  background: transparent;
  z-index: 2;
  opacity: 0;
}
.share_modal_body_setpassword_inside_date:hover {
  cursor: pointer;
}
.share_modal_date_icon {
  position: absolute;
}
.share_modal_body_setpassword_inside_download {
  width: 35px;
}
.share_modal_body_setpassword_inside input {
  padding: 1px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #c5c5c5;
  /*max-width: 20%;*/
  margin-left: 20px;
  margin-right: 10px;
}
.share_modal_body_setpassword_inside input:focus {
  outline: 1px solid #b3b3b3;
}
.share_modal_footer_samples {
  display: flex;
  justify-content: flex-end;
}
